body{
    background-color: #3c3c3c;
    color: #D71345;
    font-size: 20px;
    font-weight:bold;
    padding: 40px;
    text-align: center;
}
.white-box{
    background: #505050;
    border-radius: 10px;
    border: solid 2px white;
    display:inline-block;
    width: 70%;
}
div{
    margin: 20px;
}
button{
    background-color: gray;
    border: solid 2px black;
    color: white;
    font-size: 16px;
    margin-bottom: 10px;
    padding: 16px;
    width: 100%;
}
button:hover{
    background:	#F4E511;
    color: white;
}
  